# coding: utf-8

"""
    Suger API

    CRUD operations on a set of resources, including organizations, products, offers, entitlements, usage record groups for meterting, etc.

    The version of the OpenAPI document: 1.0
    Contact: support@suger.io
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictInt, StrictStr

from typing import Optional

from openapi_client.models.get_revenue_report_params import GetRevenueReportParams
from openapi_client.models.list_revenue_record_details_response import ListRevenueRecordDetailsResponse
from openapi_client.models.list_revenue_records_response import ListRevenueRecordsResponse
from openapi_client.models.list_usage_metering_daily_records_response import ListUsageMeteringDailyRecordsResponse
from openapi_client.models.list_usage_metering_daily_verifications_response import ListUsageMeteringDailyVerificationsResponse
from openapi_client.models.revenue_report import RevenueReport

from openapi_client.api_client import ApiClient
from openapi_client.api_response import ApiResponse
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ReportApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def get_revenue_report(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], data : Annotated[GetRevenueReportParams, Field(..., description="Get Revenue Report Params")], **kwargs) -> RevenueReport:  # noqa: E501
        """get revenue report  # noqa: E501

        Get the revenue report of the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_revenue_report(org_id, data, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param data: Get Revenue Report Params (required)
        :type data: GetRevenueReportParams
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: RevenueReport
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_revenue_report_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.get_revenue_report_with_http_info(org_id, data, **kwargs)  # noqa: E501

    @validate_arguments
    def get_revenue_report_with_http_info(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], data : Annotated[GetRevenueReportParams, Field(..., description="Get Revenue Report Params")], **kwargs) -> ApiResponse:  # noqa: E501
        """get revenue report  # noqa: E501

        Get the revenue report of the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_revenue_report_with_http_info(org_id, data, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param data: Get Revenue Report Params (required)
        :type data: GetRevenueReportParams
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(RevenueReport, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'org_id',
            'data'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_revenue_report" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['org_id']:
            _path_params['orgId'] = _params['org_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['data'] is not None:
            _body_params = _params['data']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['BearerTokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "RevenueReport",
            '400': "str",
            '500': "str",
        }

        return self.api_client.call_api(
            '/org/{orgId}/revenueReport', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def list_revenue_record_details(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ListRevenueRecordDetailsResponse:  # noqa: E501
        """list revenue record details  # noqa: E501

        list the raw revenue record details for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_revenue_record_details(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ListRevenueRecordDetailsResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_revenue_record_details_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.list_revenue_record_details_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, **kwargs)  # noqa: E501

    @validate_arguments
    def list_revenue_record_details_with_http_info(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """list revenue record details  # noqa: E501

        list the raw revenue record details for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_revenue_record_details_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ListRevenueRecordDetailsResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'org_id',
            'partner',
            'product_id',
            'entitlement_id',
            'buyer_id',
            'start_date',
            'end_date',
            'limit',
            'offset'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_revenue_record_details" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['org_id']:
            _path_params['orgId'] = _params['org_id']

        if _params['partner']:
            _path_params['partner'] = _params['partner']


        # process the query parameters
        _query_params = []
        if _params.get('product_id') is not None:  # noqa: E501
            _query_params.append(('productId', _params['product_id']))

        if _params.get('entitlement_id') is not None:  # noqa: E501
            _query_params.append(('entitlementId', _params['entitlement_id']))

        if _params.get('buyer_id') is not None:  # noqa: E501
            _query_params.append(('buyerId', _params['buyer_id']))

        if _params.get('start_date') is not None:  # noqa: E501
            _query_params.append(('startDate', _params['start_date']))

        if _params.get('end_date') is not None:  # noqa: E501
            _query_params.append(('endDate', _params['end_date']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['BearerTokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "ListRevenueRecordDetailsResponse",
            '400': "str",
            '500': "str",
        }

        return self.api_client.call_api(
            '/org/{orgId}/partner/{partner}/revenueRecordDetail', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def list_revenue_records(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ListRevenueRecordsResponse:  # noqa: E501
        """list revenue records  # noqa: E501

        list the revenue records for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_revenue_records(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ListRevenueRecordsResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_revenue_records_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.list_revenue_records_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, **kwargs)  # noqa: E501

    @validate_arguments
    def list_revenue_records_with_http_info(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """list revenue records  # noqa: E501

        list the revenue records for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_revenue_records_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ListRevenueRecordsResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'org_id',
            'partner',
            'product_id',
            'entitlement_id',
            'buyer_id',
            'start_date',
            'end_date',
            'limit',
            'offset'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_revenue_records" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['org_id']:
            _path_params['orgId'] = _params['org_id']

        if _params['partner']:
            _path_params['partner'] = _params['partner']


        # process the query parameters
        _query_params = []
        if _params.get('product_id') is not None:  # noqa: E501
            _query_params.append(('productId', _params['product_id']))

        if _params.get('entitlement_id') is not None:  # noqa: E501
            _query_params.append(('entitlementId', _params['entitlement_id']))

        if _params.get('buyer_id') is not None:  # noqa: E501
            _query_params.append(('buyerId', _params['buyer_id']))

        if _params.get('start_date') is not None:  # noqa: E501
            _query_params.append(('startDate', _params['start_date']))

        if _params.get('end_date') is not None:  # noqa: E501
            _query_params.append(('endDate', _params['end_date']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['BearerTokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "ListRevenueRecordsResponse",
            '400': "str",
            '500': "str",
        }

        return self.api_client.call_api(
            '/org/{orgId}/partner/{partner}/revenueRecord', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def list_usage_metering_daily_records(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ListUsageMeteringDailyRecordsResponse:  # noqa: E501
        """list usage metering daily records  # noqa: E501

        list the daily records of the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_usage_metering_daily_records(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ListUsageMeteringDailyRecordsResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_usage_metering_daily_records_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.list_usage_metering_daily_records_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, **kwargs)  # noqa: E501

    @validate_arguments
    def list_usage_metering_daily_records_with_http_info(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter revenue record details by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """list usage metering daily records  # noqa: E501

        list the daily records of the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_usage_metering_daily_records_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter revenue record details by the given product ID
        :type product_id: str
        :param entitlement_id: Filter revenue record details by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter revenue record details by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ListUsageMeteringDailyRecordsResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'org_id',
            'partner',
            'product_id',
            'entitlement_id',
            'buyer_id',
            'start_date',
            'end_date',
            'limit',
            'offset'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_usage_metering_daily_records" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['org_id']:
            _path_params['orgId'] = _params['org_id']

        if _params['partner']:
            _path_params['partner'] = _params['partner']


        # process the query parameters
        _query_params = []
        if _params.get('product_id') is not None:  # noqa: E501
            _query_params.append(('productId', _params['product_id']))

        if _params.get('entitlement_id') is not None:  # noqa: E501
            _query_params.append(('entitlementId', _params['entitlement_id']))

        if _params.get('buyer_id') is not None:  # noqa: E501
            _query_params.append(('buyerId', _params['buyer_id']))

        if _params.get('start_date') is not None:  # noqa: E501
            _query_params.append(('startDate', _params['start_date']))

        if _params.get('end_date') is not None:  # noqa: E501
            _query_params.append(('endDate', _params['end_date']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['BearerTokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "ListUsageMeteringDailyRecordsResponse",
            '400': "str",
            '500': "str",
        }

        return self.api_client.call_api(
            '/org/{orgId}/partner/{partner}/usageMeteringDailyRecord', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def list_usage_metering_daily_verifications(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ListUsageMeteringDailyVerificationsResponse:  # noqa: E501
        """list usage metering daily verifications  # noqa: E501

        list the daily verifications between the usage records reported to cloud marketplace & the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_usage_metering_daily_verifications(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter usage metering daily verifications by the given product ID
        :type product_id: str
        :param entitlement_id: Filter usage metering daily verifications by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter usage metering daily verifications by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ListUsageMeteringDailyVerificationsResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_usage_metering_daily_verifications_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.list_usage_metering_daily_verifications_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, **kwargs)  # noqa: E501

    @validate_arguments
    def list_usage_metering_daily_verifications_with_http_info(self, org_id : Annotated[StrictStr, Field(..., description="Organization ID")], partner : Annotated[StrictStr, Field(..., description="Cloud Partner")], product_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given product ID")] = None, entitlement_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given entitlement ID")] = None, buyer_id : Annotated[Optional[StrictStr], Field(description="Filter usage metering daily verifications by the given buyer ID")] = None, start_date : Annotated[Optional[StrictStr], Field(description="start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate")] = None, end_date : Annotated[Optional[StrictStr], Field(description="end date (UTC) in YYYY-MM-DD format, default is today")] = None, limit : Annotated[Optional[StrictInt], Field(description="List pagination size, default 20, max value is 1000")] = None, offset : Annotated[Optional[StrictInt], Field(description="List pagination offset, default 0")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """list usage metering daily verifications  # noqa: E501

        list the daily verifications between the usage records reported to cloud marketplace & the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_usage_metering_daily_verifications_with_http_info(org_id, partner, product_id, entitlement_id, buyer_id, start_date, end_date, limit, offset, async_req=True)
        >>> result = thread.get()

        :param org_id: Organization ID (required)
        :type org_id: str
        :param partner: Cloud Partner (required)
        :type partner: str
        :param product_id: Filter usage metering daily verifications by the given product ID
        :type product_id: str
        :param entitlement_id: Filter usage metering daily verifications by the given entitlement ID
        :type entitlement_id: str
        :param buyer_id: Filter usage metering daily verifications by the given buyer ID
        :type buyer_id: str
        :param start_date: start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate
        :type start_date: str
        :param end_date: end date (UTC) in YYYY-MM-DD format, default is today
        :type end_date: str
        :param limit: List pagination size, default 20, max value is 1000
        :type limit: int
        :param offset: List pagination offset, default 0
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ListUsageMeteringDailyVerificationsResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'org_id',
            'partner',
            'product_id',
            'entitlement_id',
            'buyer_id',
            'start_date',
            'end_date',
            'limit',
            'offset'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_usage_metering_daily_verifications" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['org_id']:
            _path_params['orgId'] = _params['org_id']

        if _params['partner']:
            _path_params['partner'] = _params['partner']


        # process the query parameters
        _query_params = []
        if _params.get('product_id') is not None:  # noqa: E501
            _query_params.append(('productId', _params['product_id']))

        if _params.get('entitlement_id') is not None:  # noqa: E501
            _query_params.append(('entitlementId', _params['entitlement_id']))

        if _params.get('buyer_id') is not None:  # noqa: E501
            _query_params.append(('buyerId', _params['buyer_id']))

        if _params.get('start_date') is not None:  # noqa: E501
            _query_params.append(('startDate', _params['start_date']))

        if _params.get('end_date') is not None:  # noqa: E501
            _query_params.append(('endDate', _params['end_date']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['BearerTokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "ListUsageMeteringDailyVerificationsResponse",
            '400': "str",
            '500': "str",
        }

        return self.api_client.call_api(
            '/org/{orgId}/partner/{partner}/usageMeteringDailyVerification', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
